.items {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* padding: 10px; */
    margin-left: 20px;
    padding: 15px;
    border-radius: 30px;
}

.items p {
    font-size: 20px;
    color: #000;
    font-weight: 300;
}

.items .author {
    text-align: center;
}

.items .author .author-info {
    margin-top: 20px;
}

.items .author h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.items .author p {
    color: #cccccc;
    font-size: 14px;

}